/*************************************************************************************
MAIN
*************************************************************************************/
/*************************************************************************************
NAVBAR
*************************************************************************************/
/*************************************************************************************
CONTENT
*************************************************************************************/
/*************************************************************************************
PORTFOLIO ICONS
*************************************************************************************/
@font-face {
  font-family: 'CustomTOR';
  src: url('/fonts/CustomTOR/CustomTOR.eot'), url('/fonts/CustomTOR/CustomTOR.woff') format('woff'), url('/fonts/CustomTOR/CustomTOR.ttf') format('truetype');
}
a:hover,
a:focus {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  max-width: 1440px;
}
@media (min-width: 768px) {
  header {
    width: 140px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
  main {
    margin-left: 140px;
  }
}
@media (min-width: 992px) {
  header {
    width: 200px;
  }
  main {
    margin-left: 200px;
  }
}
main {
  padding: 0 5%;
}
.portfolio-content {
  margin-top: 20px;
  font-size: 14px;
}
.contact {
  margin: 20px auto;
  padding: 6px;
  color: #d4d4d4;
  background-color: #2C7F45;
  font-size: 16px;
  cursor: pointer;
}
#content-aboutme img {
  width: 40%;
  border-radius: 100%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
@media (min-width: 768px) {
  .portfolio-content {
    margin-top: 12px;
    font-size: 16px;
  }
  .contact {
    padding: 9px;
    font-size: 24px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #content-aboutme img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-content {
    margin-top: 40px;
    font-size: 18px;
  }
  .contact {
    padding: 12px;
    font-size: 32px;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
footer {
  height: 50px;
  padding: 6px;
  background-color: #266d61;
}
footer img {
  width: 30px;
  height: 30px;
  margin: 0 6px;
  cursor: pointer;
}
@media (min-width: 768px) {
  footer {
    height: 75px;
    padding: 9px;
  }
  footer img {
    width: 45px;
    height: 45px;
    margin: 0 9px;
  }
}
@media (min-width: 992px) {
  footer {
    height: 100px;
    padding: 12px;
  }
  footer img {
    width: 60px;
    height: 60px;
    margin: 0 12px;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
  }
  .navbar-default {
    background-color: #266d61;
  }
  .navbar-default li {
    width: 100%;
    text-align: left;
    font-size: 12px;
  }
  .navbar-default .navbar-nav li a {
    color: #fff;
  }
  .navbar-default .navbar-nav li a:hover {
    color: #FFCEAD;
  }
  .navbar-default .navbar-nav li a:focus {
    color: #FFCEAD;
  }
}
@media (min-width: 992px) {
  nav {
    padding-top: 50%;
  }
  .navbar-default li {
    font-size: 18px;
  }
}
.bottom-buffer {
  margin-bottom: 20px;
}
.portfolio-icon {
  display: flex;
  padding: 10px;
  font-family: 'CustomTOR' !important;
  color: #963254;
  font-weight: bold;
  border: 3px #659933 solid;
  border-radius: 10px;
}
.portfolio-icon img {
  width: 100%;
}
.portfolio-icon-image {
  width: 100%;
}
.portfolio-icon-text {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-icon-image {
    width: 30%;
  }
  .portfolio-icon-text {
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    width: 70%;
  }
}
@media (min-width: 992px) {
  .portfolio-icon-image {
    width: 30%;
  }
  .portfolio-icon-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    width: 70%;
  }
}
.portfolio-icon {
  transition: all 1s;
  filter: grayscale(100%);
}
.portfolio-icon:hover,
.portfolio-icon-animate-on {
  filter: none;
  box-shadow: 3px 3px 8px #333;
}
.portfolio-heading {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'CustomTOR' !important;
  font-size: 30px;
  color: #d4d4d4;
}
.portfolio-heading span {
  color: #266d61;
}
@media (min-width: 768px) {
  .portfolio-heading {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .portfolio-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 75px;
  }
}
.portfolio-item {
  padding: 6px;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
}
.portfolio-item img {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 8px 6px -6px #000;
}
.portfolio-item button {
  margin-bottom: 10px;
  font-size: 14px;
  padding: 6px;
}
.portfolio-item [class*='col-'] {
  padding-top: 6px;
  padding-bottom: 6px;
}
.portfolio-item table {
  margin-top: 15px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolio-item {
    padding: 12px;
  }
  .portfolio-item button {
    margin-bottom: 11.42857143px;
    font-size: 16px;
    padding: 9px;
  }
  .portfolio-item table {
    margin-top: 17.14285714px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .portfolio-item {
    padding: 18px;
  }
  .portfolio-item button {
    margin-bottom: 12.85714286px;
    font-size: 18px;
    padding: 12px;
  }
  .portfolio-item table {
    margin-top: 19.28571429px;
    margin-bottom: 0;
  }
}
.portfolio-listing li {
  font-size: 18px;
  color: #266d61;
}
.portfolio-listing-text-left,
.portfolio-listing-text-right {
  text-align: center;
}
@media (min-width: 768px) {
  .portfolio-listing li {
    font-size: 21.6px;
    color: #266d61;
  }
  .portfolio-listing-text-left {
    text-align: left;
  }
  .portfolio-listing-text-right {
    text-align: right;
  }
}
