main {
	padding: 0 5%;
}

.portfolio-content {

	margin-top: @content-margin;
	font-size: @content-text-font-size;

}

#content-aboutme {

	img {
		width: 40%;
		border-radius: 100%;
	}

}

hr {
	margin-top: @horizontal-ruler-margin;
	margin-bottom: @horizontal-ruler-margin;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (min-width: @screen-sm-min) {

	.portfolio-content {

		margin-top: @content-item-padding * 2;
		font-size: @content-text-font-size * 8 / 7;

	}

	hr {
		margin-top: @horizontal-ruler-margin * 1.5;
		margin-bottom: @horizontal-ruler-margin * 1.5;
	}

	#content-aboutme {
		img {
			width: 100%;
		}
	}
	

}

@media (min-width: @screen-md-min) {

	.portfolio-content {

		margin-top: @content-margin * 2;
		font-size: @content-text-font-size * 9 / 7;

	}

	hr {
		margin-top: @horizontal-ruler-margin * 2;
		margin-bottom: @horizontal-ruler-margin * 2;
	}

}